## 一、查看数据框的常用操作

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from rich import print
%matplotlib inline

In [27]:
# 1、查看dataframe的前n行或尾n行
# df=pd.DataFrame(columns=[],index=[],data=[]) ##创建一个Dataframe

url = 'https://www.gairuo.com/file/data/dataset/iris.data'
df = pd.read_csv(url)

df.head(n=10) ## 显示前n行的数据
df.tail(n=10) ## 显示尾n行的数据

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [26]:
# 2、查看索引名，列名，values
df.index     ##返回df的行索引值，是一个array
df.columns   ##返回df的列名，是一个array
df.values    ##返回df的所有值，是一个2D array

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [25]:
# 3、查看dataframe的一些统计特性
df.describe()                            ##统计每列的min, max,mean,std,quantile
df.dtypes                                ##返回每列数据的类型
df.T                                     ##转置数据框
df.sort_index(axis=1,ascending=False)    ##按索引排序所有列，升序或者降序

       species  sepal_width  sepal_length  petal_width  petal_length
0       setosa          3.5           5.1          0.2           1.4
1       setosa          3.0           4.9          0.2           1.4
2       setosa          3.2           4.7          0.2           1.3
3       setosa          3.1           4.6          0.2           1.5
4       setosa          3.6           5.0          0.2           1.4
..         ...          ...           ...          ...           ...
145  virginica          3.0           6.7          2.3           5.2
146  virginica          2.5           6.3          1.9           5.0
147  virginica          3.0           6.5          2.0           5.2
148  virginica          3.4           6.2          2.3           5.4
149  virginica          3.0           5.9          1.8           5.1

[150 rows x 5 columns]

## 二、常用的列切片操作

In [28]:
# 1、取一列的所有数据
index = 0
column_name = 'sepal_length'

df[column_name]         ##利用列名直接取某一列
df[df.columns[index]]   ##适合于你不知道列名，但是知道它在第几列

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [29]:
# 2、根据位置取行列数据df.loc
index = 0

df.loc[index]                                    ##根据行的位置，取特定行数据（列全取）
df.loc[[index],['sepal_length', 'sepal_width']]  ##取index行的，ab两列数据
df.loc[[index],'sepal_length':'petal_width']     ##取index行的，列名为'a' 到 列名为 'b'的所有列
##总之，列不能通过索引来取数

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [24]:
# 3、根据索引位置来取数df.iloc

df.iloc[0:10,0:10] ##切片后面的值取不到，即col_index=10,row_indx=10取不到
df.iloc[[0,5,10],[1, 3, 4]] ##可按照需求，选择特定的行和列
##总之iloc之内的数据都是数字，不能是行名列名

    sepal_width  petal_width species
0           3.5          0.2  setosa
5           3.9          0.4  setosa
10          3.7          0.2  setosa

In [ ]:
# 4、根据条件，逻辑值索引取数

df[df.A>0] ##取出A列中大于0的数，
df[df['A'].isin(['one','two'])] ##取出A列中包含'one','two'的数据,这个功能很强大，##可以帮助我们filter出符合条件的数据。

In [ ]:
# 5、给列赋值

df['A']=np.array([1]*len(df))   ##用数组给某列赋值
df.loc[:,['a','c']]=[]          ##根据位置赋值
##知道如何取数，就能轻松给数据框赋值啦。

## 三、按列排序

In [ ]:
df.sort_values(by='column_Name',ascending=True)     ##按某列升序排序
df.sort_index(axis=1,ascending=True)                ##索引排序

## 四、合并操作

In [ ]:
# 1、将数据框的行或列合并（concat）

pd.concat([df1[:],df2[:],...],axis=0)   ##按列拼接数据，要求列数和列名一样
pd.concat([df1,df2,...],axis=1)        ##按行拼接数据，行数和行索引相同
##如果数据结构不一样，可以选择join="inner","outer",..sql中的操作

In [ ]:
# 2、append将一行或多行数据添加

df.append(df1[:],ignore_index=True) ##将会重新设定index

In [ ]:
# 3、将多个dataframe整合在一起Merge

df.merge(df1,on=['column_name',...],how=inner) ##内联表，根据主键来拼接

# how="inner","left","right","outer"分别表示内连接，左连接，右连接，外连接。
# 具体如何连接，大家去温习一下sql中的表连接操作吧.

## 五、分组操作Groupby

In [ ]:
# 1、Groupby for splitting 把数据分成已有的几种类别

grouped=df.groupby(key)             ##将某个主键按照类别分组，默认是列主键
grouped=df.groupby(key,axis=1)      ##按照某个key分组，行操作
grouped=df.groupby([key1,key2,...]) ##可以依次group多个key。
grouped.groups                      ##返回分组的结果
grouped.get_group('a')              ## 选择其中一个分组的类别，查看该类别的数据

In [ ]:
# 2、Groupby for aggregation 分组聚合

grouped.aggregate(np.sum)   ##分组求和，常见操作
grouped.size()              ##分组统计数量
grouped.describe()          ##分组查看描述统计结果

In [ ]:
# 3、Groupby for applying 分组求各种函数

grouped.agg([np.sum,np.std,np.mean]) ##同时求和，均值方差。
grouped.apply(lambda x: function(x)) ##可以接上apply函数，进行自定义操作

In [ ]:
# 4、Groupby for filtering 分组过滤数据

grouped.filter(lambda x : len(x)>2,dropna=True) ##类似这种filter操作
##根据自己需求，都能够相应地实现。

## 六、设置结果显示限制

In [ ]:
pd.set_option("display.height",200)         ##设置显示结果的高度
pd.set_option("display.max_seq_items",200)  ##设置序列显示的最大个数
pd.set_option("display.max_columns",120)    ##设置数据框显示的列数
pd.set_option("display.max_rows",50)        ##设置数据框显示的行数

## 七、数据框写入excel或者csv

In [ ]:
##先是读取数据
pd.read_csv(file_path,header=,sep=',',index_col=,...) ##常用的取数据函数
pd.read_excel(file_path,sheetName='',startcol=,startrow=,header=,...)
##保存数据相对规范的话是如下代码：
writer=pd.ExcelWriter('excel name.xlsx') ##新建一个excel
df.to_excel(writer,sheetName='dfName',startcol=,startrow=,...)
writer.save()

In [1]:
import numpy as np

x = np.random.normal(0, 1, (100, 10))

y = np.sin(x)

In [ ]:
input_size = 100
output_size = 20

w = np.random.normal(0, 1, (input_size, output_size))

y_hat =